body {
    background-color:rgb(252, 242, 240);
    margin-left: 100px;
    margin-right: 100px;
}

    .headerContainer {
        display: flex;
        flex-direction: column;
        justify-content: safe center; 
        align-items: safe center; 
        box-sizing: content-box;

        width: 100%;
        height: 170px;
        position: relative;
    }
        .title {
            position: relative;
            font-family: 'Inconsolata', monospace;
        }
        .introPara1 {
            position: relative;
            font-family: 'Inconsolata', monospace;
            font-size: medium;
        }
        .introPara2 {
            position: relative;
            font-family: 'Inconsolata', monospace;
            font-size: medium;
        }

    .outputContainer {
        display: flex;
        flex-direction: row;
        justify-content: safe center; 
        align-items: safe flex-end; 
        box-sizing: content-box;

        width: 100%;
        height: 280px;
        position: relative;
        
    }
        .playerDecisionOutput {
            display: flex;
            flex-direction: column;
            justify-content: safe center;
            align-content: safe center;
            box-sizing: content-box;

            width: 100%;
            height: 100%;
            position: relative;
            order: 1;
        }
            .playerImageOutput {
                align-self: center;
                background-image: url("/Images/blank.png");
                background-size: cover;
                width: 250px;
                height: 250px;
                position: relative;
            }
            .playerNameOutput {
                width: 30%;
                height: 20%;
                position: relative;
                align-self: center;
            }
                .playerNameOutputText {
                    font-family: 'Inconsolata', monospace;
                    font-size: 20px;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                }
        
        
        .face { 
            display: flex;
            flex-direction: column;
            justify-content: safe center;
            align-content: safe center;
            box-sizing: content-box;
            background-image: url("/Images/faceNeutral.png");
            background-repeat: no-repeat;
            background-size: 200px 200px;
            background-attachment: fixed;
            background-position: center;
            width: 100%;
            height: 100%;
            position: relative;
            order: 3;
        } 

        .computerDecisionOutput {
            display: flex;
            flex-direction: column;
            justify-content: safe center;
            box-sizing: content-box;

            width: 100%;
            height: 100%;
            position: relative;
            order: 5;
        }
            .computerImageOutput {
                align-self: center;
                background-image: url("/Images/blank.png");
                background-size: cover;
                width: 250px;
                height: 250px;
                position: relative;
            }
            .computerNameOutput {
                width: 30%;
                height: 20%;
                position: relative;
                align-self: center;
            }
                .computerNameOutputText {
                    font-family: 'Inconsolata', monospace;
                    font-size: 20px;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                }
        .playerScoreOutput {
            display: flex;
            flex-direction: column;
            justify-content: safe center;
            box-sizing: content-box;

            width: 100%;
            height: 100%;
            position: relative;
            order: 2;

        }
            .playerScoreOutputText {
                font-family: 'Inconsolata', monospace;
                font-size: 40px;
                width: 100%;
                height: 30%;
                text-align: center;
            }

        .computerScoreOutput {
            display: flex;
            flex-direction: column;
            justify-content: safe center;
            box-sizing: content-box;

            width: 100%;
            height: 100%;
            position: relative;
            order: 4;
        }
            .computerScoreOutputText {
                font-family: 'Inconsolata', monospace;
                font-size: 40px;
                width: 100%;
                height: 30%;
                text-align: center;
            }



    #buttonContainer {
        display: flex;
        flex-direction: row;
        justify-content: safe center; 
        align-items: safe flex-end; 
        box-sizing: content-box;

        width: 100%;
        height: 150px;
        position: relative;
    }

        #rockDecision {
            height: 150px;
            width: 150px;
        }
            #rockButton {
                height: 150px;
                width: 150px;
                transition: transform 1s;
                outline: none;
            }
            #rockButton:hover {
                transform: scale(1.1);
            }

        #paperDecision {
            height: 150px;
            width: 150px;
        }
            #paperButton {
                height: 150px;
                width: 150px;
                transition: transform 1s;
                outline: none;
            }
            #paperButton:hover {
                transform: scale(1.1);
            }

        #scissorsDecision {
            height: 150px;
            width: 150px;
        }
            #scissorsButton {
                height: 150px;
                width: 150px;
                transition: transform 1s;
                outline: none;
            }
            #scissorsButton:hover {
                transform: scale(1.1);
            }


.playerImageOutputRock {
    align-self: center;
    justify-self: center;
    background-image: url("/Images/rock.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
}
.playerImageOutputPaper {
    align-self: center;
    justify-self: center;
    background-image: url("/Images/paper.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
   
}
.playerImageOutputScissors {
    align-self: center;
    justify-self: center;
    background-image: url("/Images/scissors.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
}

.computerImageOutputRock {
    align-self: center;
    justify-self: center;
    background-image: url("/Images/rock.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
}
.computerImageOutputPaper {
    align-self: center;
    justify-self: center;
    background-image: url("/Images/paper.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
}

.computerImageOutputScissors {
    align-self: center;
    justify-self: center;
    background-image: url("/Images/scissors.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
}
